@use "./typography";
@use "./variables";

@mixin pageTitle {
    font-family: "Mona Sans";
    font-size: 24px;
    font-weight: 700;
    color: black;
}

@mixin bodyCopy {
    font-family: "Mona Sans";
    font-size: 12px;
    font-weight: 200;
    color: black;
}