// COLORS
$primary-one-orange: #de5f54;
$primary-two-pink: #c75ab4;
$primary-three-purple: #a364d0;
$primary-four-blue: #8296ea;
$primary-five-lightblue: #aebdf1;
$primary-six-grey: #dde3f9;
$primary-seven-white: #f6f8fe;
