@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.cta {
    @include mainSection;
    background-color: rgba(0, 0, 0, 0);
    padding: 3.0rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        @include pageTitle;
        font-size: 22px;
        text-align: center;
        padding-bottom: 1.0rem;
    }

    &__description {
        @include bodyCopy;
        line-height: 1.25rem;
    }

    &__message-link {
        @include bodyCopy;

        &:hover {
            color: $primary-four-blue;
        }
    }
}