@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.main-hero {
    @include mainSection;
    padding-top: 3.0rem;

    &__profile-img {
        width: 50px;
        border-radius: 50%;
        position: sticky;
        left: 1.0rem;
        top: 1.0rem;

    }

    &__title {
        @include pageTitle;
        margin: 1.0rem 0;
    }

    &__intro {
        @include bodyCopy;
        line-height: 1.25rem;
    }

    &__social-icons {
        width: 40%;
        display: flex;
        justify-content: space-between;
    }

    &__social-icon {
        width: 15px;
        margin: 1.0rem 0;
    }
}