@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.0rem;

    @include tablet {
        padding: 0.5rem 0 2.5rem;
    }

    @include desktop {
        padding: 2.0rem 0 5.0rem;
    }


    &__tech-logo {
        width: 23%;
        text-align: center;

        @include tablet {
            width: 15%;
        }

        @include desktop {
            width: 15%;
        }

        &--img {
            max-width: 100%;
            max-height: 60px;
            filter: saturate(80%);

            @include desktop {
                max-height: 80px;
            }

        }
    }
    
}