@use "./styles/partials/typography" as *;
@use "./styles/partials/theme" as *;

html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-body;
  background: $color-bg;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0;
}

img {
  max-width: 100%;
}
