@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Mona Sans";
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding: 0 0.75rem;
  background: linear-gradient($primary-four-blue, $primary-two-pink, $primary-five-lightblue);
}