@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.project-page {
    @include mainSection;

    &__nav-list {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__nav-link {
        text-decoration: none;
    }

    &__nav-item {
        @include bodyCopy;
    }
}

.project {
    &__title {
        @include pageTitle;
    }

    &__subtitle {
        @include pageSubtitle;
    }

    &__img-container {
        padding: 1.0rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__img-mockup {
        width: 32%;
        
    }

    &__tech-stack {
        color: lighten(gray, 20%);
        font-weight: 300;
    }

    &__header {
        @include pageTitle;
        padding: 1.0rem 0;
    }

    &__problem-description {
        @include bodyCopy;
        line-height: 1.25rem;
    }
}